

#expand-content, #expand-toc {
	position: fixed;
	z-index: 100;
	bottom: 10px;
	left: 10px;
	width: 30px;
	height: 30px;
	background: red;
	padding: 0;
	cursor: pointer;
	background: rgba(250,250,250,0.8) url(../images/expand.png);
	border-radius: 2px;
	text-indent: -500em;
	background-position: 15px 15px;
}

#expand-toc {
	left: 10px;
	text-indent: 4px;
	background-image: none;
	font-size: 22px;
	font-weight: bold;
}

#expand-toc::before {
	content: " T+";
}

body.floating-toc #expand-toc::before {
	content: " T-";
}

body.small #expand-content {
	background-position: 0px 0px;
}

#floating-toc {
	display: none;
	position: fixed;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid black;
	background: white;
}

#floating-toc table {
	display: block;
	padding: 4px 30px;
	margin: 0;
	border: 0;
}

#floating-toc table * {
	font-size: 11px;
	display: inline;
}

/* TODO: What? */
#floating-toc td:nth-child(2), #floating-toc td:nth-child(3) {
	display: none;
}

body.floating-toc #floating-toc {
	display: block;
}

body.floating-toc .chapter:first-child {
	padding-top: 50px;
}

h1:before {
	display:block;
	content:"";
	height:70px;
	margin:-70px 0 0;
}
